/*
 * version.last: 2013.11.3.12
 * version.previous: 2013.9.6.10
 * version.previous: 2013.7.28.9
 * version.previous: 2013.7.20.8
 * version.previous: 2013.7.1.7
 * version.previous: 2013.6.21.5
 * version.previous: 2013.6.20.4
 * version.previous: 2010.12.6.3
 * version.previous: 2010.11.14.2
 * version.previous: 2010.10.23.1
 */

/*** CONTAINERS ***/

#idCrxTocSpliterLefDiv {
  background: #dddddd; /* Old browsers */
  background: linear-gradient(to left, #dddddd, #ffffff 100%); /* W3C */
  position: absolute;
  left: 0px;
  line-height: 100%;
  height: 100%;
  margin: 0px;
  font-size: 14px;
  z-index: 20; /* div left */
  overflow: auto;
}
#idCrxTocSpliterBarDiv {
  background: #aaaaaa;
  background: linear-gradient(to left, #aaaaaa, #dddddd 100%);
  position: absolute;
  cursor: e-resize;
  width: 10px;
  height: 100%;
  z-index: 10; /* div bar */
}
#idCrxTocSpliterBarButonDiv {
  background: #999999;
  background: linear-gradient(to left, #999999, #dddddd 100%);
  position: relative;
  top: 40%;
  height: 15%;
  width: 10px;
  cursor: pointer;
}
#idCrxTocSpliterRightDiv {
  background: white;
  position: absolute;
  right: 0px;
  height: 100%;
  padding: 0 5px 0 5px;
  outline: none;
  z-index: 0; /* div right */
  overflow: auto;
}

#idCrxTocSpliterLefDiv > p {
  text-align: left;
  text-indent: -25px;
  margin-left: 25px;
}
#idCrxTocSpliterLefDiv > input[type="button"] {
  padding: 2px 7px 2px 7px;
  margin-left: 5px;
  margin-bottom: 10px;
}
#idCrxTocSpliterBarDivGhost {
  position: absolute;
  background-color: #cccccc;
  z-index: 40; /* div ghost */
  -webkit-user-select: none;
}

/*** TOC ***/

#idCrxTocTree {
  margin: 0px;
  padding: 0px;
  line-height: 105%;
}
#idCrxTocTree li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: arial;
  font-size: 12px;
  padding-left: 1px;
}
#idCrxTocTree ul {
  margin-left: 20px;
  padding-left: 0px;
  line-height: 105%;
}
#idCrxTocTree li {
  list-style-type: none;
  list-style-image: none;
  vertical-align: middle;
  white-space: nowrap;
}
#idCrxTocTree li a:hover {
  color: #0000aa;
  text-decoration: underline;
}
#idCrxTocTree > li > a {
  color: green;
  font-weight: bold;
}
#idCrxTocTree > li > ul > li > a {
  color: green;
}
#idCrxTocTree > li > ul > li > ul > li > a {
  color: blue;
}
#idCrxTocTree > li > ul > li > ul > li > ul > li > a {
  color: indigo;
}
#idCrxTocTree span {
  border-bottom: none;
}
.clsCrxTocTreeHighlight {
  background: yellow !important;
}

span.clsIconListUpdown {
  color: navy;
  cursor:pointer;
  font-size: 15px;
}
span.clsIconListDiamond {
  color: navy;
  font-size: 15px;
}

.clsCrxTocBtn {
  border-radius: 5px;
  background: linear-gradient(to right, #bbbbbb, #ffffff); /* W3C */
  font-size: 16px;
}
.clsCrxTocBtn:hover {
  background: #e0f2f7;
}

/*** CLASS.COLOR ***/

.color-blue {
  color: #0000ff;
}

.color-green {
  color: #008000;
}
.color-green-bg {
  background-color: #008000;
}
.color-red {
  color: #ff0000;
}
.color-yellow {
  color: #FFFF00;
}
.color-yellow-bg {
  background-color: #FFFF00;
}
.style-b {
  font-weight: bold;
}
.style-bu {
  font-weight: bold;
  text-decoration: underline;
}
.style-u {
  text-decoration: underline;
}
